.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
body{
	width: 100%;
	height: auto;	
}
.navbar{
	background: #000;
	position: fixed;
	z-index: 9999;
	box-shadow: 1px 3px 5px 1px #101010;
}
.nav-container{
	width: 100%;
	margin: 0 auto;
}
.navbar-brand{
	padding: 25px;
	width: 15%;
	border-right: 1px solid #aaaa;
}
.navbar-brand img{
	width: 100%;
}
.nav-link{
	font-family: Roboto;
	font-size: 14px; 
	transition: 0.4s ease;
	border-bottom: 3px solid transparent;
}
.nav-item .active{
	color: #fff;
	border-bottom: 3px solid #13db24;
}
#nav-links .nav-item .nav-link:hover{
	color: #fff;
	border-bottom: 3px solid #13db24;
}
#sign_out_btn, #sign_in_btn{
	font-size: 14px;
	margin: 3px 20px 3px 0;
}
.dropdown-item{
	font-family: Roboto;
	transition: 0.4s ease;
}
.nav-item #sign_out_btn, .nav-item #sign_in_btn{
	color: #eee;
}
#nav-links li{
	margin: 5px 10px;
}
.nav-item span{
	padding-right: 5px;
	font-weight: bold;
	color: rgba(225,225,225,0.6);
}
.dropdown .dropdown-menu{
	width: 225px;
	font-size: 13px;
}
.dropdown #dropdown-menu1 a:hover{
	background-color: #fff;
	color: #13db24;
}
.dropdown #dropdown-menu1{
	width: auto;
}
.dropdown #navbarDropdown{
	color: #eee;
}
.fas{
	padding-right: 10px;
}
#user-name{
	font-family: Montserrat;
	font-weight: 300;
	color: #ddd;
	padding: 8px 15px;
	border-right: 1px solid #aaaa;
	border-top: none;
}
/*//////////////////////slider//////////////////////*/
#slider{
	position: relative;
}
#slider-content{
	width: 100%;
	display: flex;
	height: 90vh;
}
.header-cols{
	width: 50%;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}
#title-col{
	background-color: #191919;
	padding: 120px 0 0;
}
#slider img{
	height: 90vh;
}
.carousel-indicators li{
	height: 17px !important;
	width: 17px !important;
	border-radius: 50%;
}
.carousel-indicators .active{
	background-color: #1acf17;
	/*background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0));*/
}
/*carousel overlay effect*/
.carousel-item:after {
  	content:"";
  	display:block;
  	position:absolute;
  	top:0;
  	bottom:0;
  	left:0;
  	right:0;
  	background:rgba(0,0,0,0.2);
}
.header-text{
	text-align: center;
}
.header-text h1{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 3em;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
}
.header-text h2{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 4px;
}
.header-text h4{
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.25em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 20px;
}
.header-title-divider{
	border-top: 1px solid #1acf17;
	width: 30%;
	margin: 30px auto;
}
.divider-box{
	position: absolute;
	top: 41.5%;
	left: 24.5%;
	width: 15px;
	height: 15px;
	background: #1acf17;
	border-radius: 3px 0 3px 0;
	transform: rotate(45deg);
}
/*@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .divider-box{
    	top: 41.2%;
    }
}*/
/*@-moz-document url-prefix() {
  	.divider-box {
    	top: 41.5% !important;
  	}
}*/
/*//////////////////////////////////////////////////*/
.fas{
	padding-right: 5px;
}
.dark-background{
	/*padding: 90px 0;*/
	background-color: rgba(0,0,0,0.5);
}
/*------------------- about-with-scroll-btn section -------------------*/
#about-with-scroll-btn{
	background: linear-gradient(155deg, #eee 50%, #ccc 50%);
	background-size: 150%;
	background-position: 75%;
}
/*--------------------------------------------------------------
#sroll button
---------------------------------------------------------------*/
#scroll-btn-section{
	width: 100%;
	height: auto;
}
.mouse_scroll {
	position: absolute;
	top: 80%;
  	margin: 0 auto;
  	width: 50%;
  	z-index: 1000;
}
.mouse_scroll #scroll_spans{
	text-align: center;
}
.mouse_scroll #scroll_btn{
  	display: block;
  	width: 10%;
	margin: 0 auto;
	padding: 10px 0 15px;
	background-color: transparent;
	border: 1px solid #1acf17;
	border-radius: 50%;
}
.mouse_scroll #scroll_btn span{
	margin: 0 auto;
}
.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  margin: 0 0 3px 4px;
  
  width: 13px;
  height: 13px;
}
.unu
{
  margin-top: 1px;
}
.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}
.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/***********************about section**********************************/
#about{
	/*background-image: url(../images/leaves3-1.png);
	background-size: cover;
	background-position: center right;*/
}
.div-content{
	width: 100%;
	display: flex;
}
#about-div-content{
	height: 70vh;
}
.img-div, .div-text{
	width: 50%;
}
.img-div{
	padding: 30px 0 30px 70px;
	text-align: right;
	display: flex;
}
#elephant-img1{
	position: absolute;
	left: 100px;
	width: auto;
	height: 55%;
	margin: 20px 0;
	/*-webkit-filter: drop-shadow(10px 10px 13px rgba(0,0,0,0.7));*/
	z-index: 1;
	filter: gray;
	-webkit-filter: grayscale(1);
}
.about-green-square{
	position: relative;
	left: 280px;
	width: 100%;
	height: 100%;
	border-top: 12px solid #1acf17;
	border-left: 12px solid #1acf17;
	border-bottom: 12px solid #1acf17;
}
.div-text{
	background-color: #191919;
	color: #fff;
	padding: 60px 70px;
	z-index: 10;
}
.titles{
	font-size: 50px;
	font-family: Montserrat;
	font-weight: 700;
}
.title-description{
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	word-spacing: 3px;
	line-height: 22px;
}
.small-div-part{
	border-top: 5px solid #1acf17;
	width: 13%;
	margin-bottom: 30px;
}
/*********************History section*********************************/
.history-section{
	background: linear-gradient(155deg, #ccc 50%, #eee 50%);
	background-size: 200%;
	background-position: 50%;
}
.history-sec-img{
	/*background-image: url(../images/leaves6-1.png);
	background-size: cover;
	background-position: center left;*/
}
#history-div-text{
	padding: 40px 70px;
}
#history-img-div{
	padding: 30px 70px 30px 0;
	text-align: left;
}
.history-green-square{
	position: relative;
	left: 0;
	width: 55%;
	height: 100%;
	border-top: 12px solid #1acf17;
	border-right: 12px solid #1acf17;
	border-bottom: 12px solid #1acf17;
}
#elephant-img2{
	position: absolute;
	right: 80px;
	width: auto;
	height: 65%;
	margin: 20px 0;
	/*-webkit-filter: drop-shadow(10px 10px 13px rgba(0,0,0,0.7));*/
	z-index: 1;
	filter: gray;
	-webkit-filter: grayscale(1);
}
.title-description a span{
	font-weight: bold;
	color: #c9cc81;
}
.title-description a:hover{
	text-decoration: none;
}
.title-description a:hover span{
	border-bottom: 1px solid #1acf17;
}
/*********************concept section*******************************/
.concept-section{
	background: linear-gradient(155deg, #eee 50%, #ccc 50%);
	background-size: 150%;
	background-position: 55%;
}
.concept-sec-img{
	/*background-image: url(../images/leaves3-1.png);
	background-size: cover;
	background-position: center right;*/
}
#concept-div-text{
	padding: 30px 70px 45px;
}
#elephant-img3{
	position: absolute;
	left: 40px;
	width: auto;
	height: 70%;
	margin: 50px 0;
	/*-webkit-filter: drop-shadow(10px 10px 13px rgba(0,0,0,0.7));*/
	z-index: 1;
	filter: gray;
	-webkit-filter: grayscale(1);
}
.guide-link-para{
	text-align: left;
	margin-top: 30px;
}
.guide-link{
	background-color: #13db24;
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	transition: 0.2s;
}
.guide-link:hover{
	text-decoration: none;
	color: #101010;
}
/*********************Data Collection & Outcome section*********************************/
.data-section{
	background: linear-gradient(155deg, #ccc 50%, #eee 50%);
	background-size: 150%;
	background-position: 45%;
}
.data-sec-img{
	/*background-image: url(../images/leaves6-1.png);
	background-size: cover;
	background-position: bottom left;*/
}
.data-container{
	width: 80%;
	margin: 0 auto;
}
.data-div-content{
	width: 80%;
	padding-left: 30px;
	padding-bottom: 40px;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 10px;
	box-shadow: 1px 5px 8px 1px gray;
}
#data-div-text{
	padding: 40px 70px;
}
#elephant-img4{
	position: absolute;
	right: 90px;
	width: auto;
	height: 55%;
	margin: 20px 0;
	/*-webkit-filter: drop-shadow(10px 10px 13px rgba(0,0,0,0.7));*/
	z-index: 1;
	filter: gray;
	-webkit-filter: grayscale(1);
}
.title-description span{
	font-weight: bold;
	color: #757575;
}
.title-description ul{
	padding-left: 15px !important;
}
.grass-div img{
	width: 100%;
	/*background: linear-gradient(155deg, #eee 50%, #ccc 50%);
	background-size: 150%;
	background-position: 45%;*/
}
/*************************google map***********************/
.map-section .gmap_canvas{
	height: 500px;
}
.map-section iframe{
	width: 100%;
	height: 500px;
}
/*-------------------------------------------------------------------------------------
#######################################################################################

								Reference Page styles

#######################################################################################
--------------------------------------------------------------------------------------*/

.reference-title{
	margin: 50px 0 30px 0;
	border-left: 7px solid #13db24;
}
.reference-title h2{
	padding: 7px 15px;
	font-family: Roboto;
	font-weight: 300;
}
.reference-table table{
	background-color: #fff;
}
.reference-table table thead{
	background-color: #f7f7f7;
}
.reference-table table thead th{
	text-align: center;
}
.reference-table table tbody .center-cols{
	text-align: center;
}
.reference-table table tbody{
	font-size: 13px;
	font-family: Roboto;
}
.reference-table table .def-col{
	width: 35%;
}
.reference-table table .eg-col{
	width: 20%;
}

/*---------------------------------------------------------------------------------------
#########################################################################################

								Sign up page styles

#########################################################################################
----------------------------------------------------------------------------------------*/

.sign-up-back{
	font-family: Roboto;
	font-weight: 300;
}
.signup-form-div{
	background-color: #eee;
	width: 100%;
	padding: 30px 60px;
	border-radius: 5px;
}
.signup-form-div .far, .signup-form-div .fas{
	padding: 0 10px 0 5px;
}
.signup-form-div .signup-form-title{
	padding: 2px 12px;
	margin-bottom: 30px;
	border-top: 3px solid rgba(19,219,36,0.7);
	border-bottom: 3px solid rgba(19,219,36,0.7);
}
.signup-form-div .signup-form-title h3{
	font-family: Roboto;
	font-weight: bold;
}

/*---------------------------------------------------------------------------------------
#########################################################################################

								Find elephant page styles

#########################################################################################
----------------------------------------------------------------------------------------*/

.find-el{
	font-family: Roboto;
	font-weight: 300;
}
.find-el-container{
	background-color: #eee;
	width: 100%;
	padding: 30px 40px;
	border-radius: 5px;
}
.find-el-container label{
	font-size: 14px;
}
.custom_container{
	background-color: #eee;
	width: 100%;
	margin: 0 auto;
	padding: 20px 40px;
}
.ele_modal_btn{
	margin: 0 10px 10px 0;
}
.table-with-pie{
	background: #fff;
	padding-bottom: 15px;
}
.chart-results{
	text-align: center;
	padding: 0;
	width: 95%;
	margin: 0 auto;
}


/*---------------------------------------------------------------------------------------
#########################################################################################

								Add elephant page styles

#########################################################################################
----------------------------------------------------------------------------------------*/

.add-el-form{
	background-color: #eee;
	padding: 50px 80px;
	font-size: 14px;
	border-radius: 5px;
}
.selector option:hover{
	color: #000;
	border-bottom: none;
}
.add-el-form #form2 p{
	font-size: 18px;
}
.add-el-form #form2 label{
	font-family: Open Sans;
}

/*---------------------------------------------------------------------------------------
#########################################################################################

								Admin panel page styles

#########################################################################################
----------------------------------------------------------------------------------------*/

.admin-form-div{
	background-color: #f6f6f6;
	width: 100%;
	padding: 30px 60px;
	border-radius: 5px;
}
table{
	font-size: 13px;
}
#show_user_button{
	margin-bottom: 20px; 
}

/*----------------------------------------------------------------------------------------
##########################################################################################

								Footer section

##########################################################################################
-----------------------------------------------------------------------------------------*/
.footer_sec{
	background-color: #191919;
	color: #fff;
}
#footer-container{
	padding: 30px 0 20px 0; 
}
#img-col{
	padding-top: 40px;
}
#img-col img{
	width: 75%;
}
.quik-links-title, .contact-links-title{
	font-size: 20px;
	font-family: Montserrat;
	font-weight: 700;
	padding-bottom: 5px;
}
.quik-links ul, .contact-links ul{
	font-family: Roboto;
	font-size: 15px;
	padding: 0;
	list-style: none;
}
.quik-links ul li a{
	color: #d3dd13;
	transition: 0.3s;
}
.quik-links ul li a:hover{
	text-decoration: none;
	color: #13db24;
}
.quik-links-icons, .contact-links-icons{
	padding-right: 10px;
}
.contact-links ul p{
	font-size: 12px;
	padding-left: 30px;
}
.contact-links ul li{
	color: #d3dd13;
}
.contact-links ul p a:hover{
	text-decoration: none;
}
.copyright-div{
	background-color: #000;
	text-align: center;
	color: #bbb;
	padding: 10px 0;
	font-size: 12px;
}
@media(max-width: 600px){
	body{
		padding: 0;
		margin: 0;
	}
	.navbar-brand{
		width: 50%;
	}
	.navbar-brand img{
		width: 100%;
	}
	.nav-link{
		text-align: center;
		border: 2px solid transparent;
	}
	.active{
		color: #fff;
		background: #13db24;
	}
	#nav-links .nav-item .nav-link:hover{
		color: #fff;
		border: 2px solid #13db24;
	}
	.nav-item{
		text-align: center;
	}
	#user-name{
		text-align: center;
		border-left: 0px;
		border-top: none;
	}
	#scroll-btn-section{
		display: none;
	}
	/*//////index about setion///////*/
	#about{
		margin-left: 25px;
	}
	.about-container{
		width: 90%;
		margin: 40px auto;
	}
	.about-div-content{
		margin-top: 80px;
		left: 0;
		width: 100%;
	}
	#about-div-text{
		margin-top: 0;
	}
	#elephant-img1{
		display: none;
	}
	.small-div-part{
		display: none;
		border-top: 0;
		width: 0%;
		margin-bottom:0;
	}
	.titles{
		font-size: 35px;
		font-family: Baloo Chettan;
	}
	.title-description{
		font-size: 14px;
		line-height: 20px;
		padding-right: 0px;
	}
	/*////////index history section/////////*/
	.history-section{
		background-image: url(../images/image10.jpg);
		background-attachment: fixed;
	}
	.history-container{
		padding-left: 25px;
		width: 90%;
		margin: 0 auto;
	}
	.history-div-content{
		width: 100%;
		padding-left: 0px;
		padding-bottom: 20px;
	}
	#history-div-text{
		margin-top: 10px;
	}
	#elephant-img2{
		display: none;
	}
	/*////////index concept section////////*/
	.concept-section{
		margin-left: 25px;
		padding: 40px 0;
	}
	.concept-container{
		width: 90%;
		margin: 0 auto;
	}
	.concept-div-content{
		position: relative;
		left: 0;
		width: 100%;
		padding-bottom: 40px;
	}
	#concept-div-text{
		margin-top: 20px;
	}
	#elephant-img3{
		display: none;
	}
	.guide-link-para{
		text-align: right;
	}
	/*//////////index data collection section//////////*/
	.data-container{
		width: 90%;
		margin: 0 auto;
		padding-left: 25px;
	}
	.data-div-content{
		width: 100%;
		padding-left: 0px;
		padding-bottom: 20px;
	}
	#elephant-img4{
		display: none;
	}
	/*/////////index map section////////*/
	.map-section iframe{
		width: 100%;
		height: 350px;
	}
	/*/////////footer//////////////*/
	#footer-container{
		padding: 30px 30px 20px 30px; 
	}
	#img-col{
		padding-top: 0px;
		padding-bottom: 20px;
	}
	#img-col img{
		width: 100%;
	}
	/*////////////pages forms//////////*/
	.add-el-form, .admin-form-div{
		padding: 20px;
	}
	.reference-title h2{
		font-size: 25px;
	}
}